@{
    ViewBag.Title = "Reps On The Move Team";
}
<h2>@ViewBag.Title.</h2>

<h3 style="text-align:center;" class="font_2">
    <span class="color_15">ABOUT DEVELOPMENT TEAM</span>
</h3>
<p class="font_8" style="line-height:1.4em; text-align:center;">
    <span>
        We are a team of skilled Business analysts working on a project for XCO group. The team consists of 5 members namely,  Sam Jonker, John Loxton ( group leader ), Xanderie Jorna, Brett Felton, Chad Fox. ( See photo below left to right) <br /> <br />We are developing a Sales Representative management system to help them reduce time spent on administrative tasks, giving them more time to work with their clients. We are developing a PC based Management system that will be used by the manager to keep track of the sales representatives progress throughout the year and will also develop a mobile app to be used by the sales representatives to log their activities as they are completed.
    </span>
</p>
<img src="~/Content/Images/Group Photo.png" alt="ROTM logo" class="img-responsive center-block" height="1920" width="1080" />
